/*Stylsheet Module 2 Coursera*/

/*Adjustments*/
/*For the Browser and Mobile*/
@media (max-width: 992px) {
    .p1 {
        float: right;
    }

    .p2 {
        float: left;
    }
}

/*For the Tablet*/

@media (min-width: 768px) and (max-width: 991px) { 
    .p3 {
        width: 100px;
    }
}

/*For Mobile*/
@media (min-width: 767px) {

}

/*Body Paragraph style*/
* {
    box-sizing: border-box;
    margin-top: 20px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

#p {
    position: relative;
    background-color:lightgray;
    margin: 20px 20px 20px 20px;
    padding: 30px 20px 10px 20px;
    width: 400px;
    border: 2px solid black;
    float: left;
}

#box1 {
    background-color: lightcoral;
    border: 1px solid black;
    text-align: center;
    padding: 2px;
    width: 100px;
    float: right;
    margin-top: 0px;
    margin-right: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
}

/*#box1 {
    position: relative;
    top: -94px;
    right: -22px;
}*/

#box2 {
    background-color: lightgreen;
    border: 1px solid black;
    text-align: center;
    padding: 1px;
    width: 100px;
    float: right;
    margin-top: 0px;
    margin-right: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#box3 {
    background-color: lightskyblue;
    border: 1px solid black;
    text-align: center;
    padding: 0px;
    width: 100px;
    float: right;
    margin-top: 0px;
    margin-right: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
}



