/*Stylsheet Module 2 Coursera*/

/* Simple Responsive Framework. */
    /* [class*="col-"] {
        float: left;
        padding: 15px;
    } */

/* .row {
    width: 100%;
} */

/*Body Paragraph style*/
* {
    box-sizing: border-box;
    margin-top: 20px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

#p1, #p2, #p3 {
    position: relative;
    background-color:lightgray;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    width: 400px;
    border: 2px solid black;
    float: left;
}

#box1 {
    background-color: lightcoral;
    border: 1px solid black;
    font-weight: 600;
    color: indigo;
    text-align: center;
    padding: 2px;
    width: 100px;
    float: right;
    margin-top: 0px;
    margin-right: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
}

/*#box1 {
    position: relative;
    top: -94px;
    right: -22px;
}*/

#box2 {
    background-color: lightgreen;
    color: darkgreen;
    font-weight: 700;
    border: 1px solid black;
    text-align: center;
    padding: 1px;
    width: 100px;
    float: right;
    margin-top: 0px;
    margin-right: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#box3 {
    background-color: lightskyblue;
    border: 1px solid black;
    font-weight: 600;
    text-align: center;
    padding: 0px;
    width: 100px;
    float: right;
    margin-top: 0px;
    margin-right: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
}

/***********Media Queries**********/
/**********For the Desktop*************/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media  (min-width: 992px) {
     /* #p1, #p2, #p3 {
        width: 33.33%;
    } */
}
 
 /*For the Tablet*/
 
 @media (min-width: 768px) and (max-width: 991px) { 
      #p3 {
         width: auto;
     } 
     /* .col-6 {
         width: 75%;
     } */
 }
 
 /*For Mobile*/
 @media (min-width: 767px) {
   /*  #p3 {
        width: 50%;
    } */
 }


